body {
  background-color: #EECEE7;
}

.wrapper{
  margin: 1em auto;
    padding: 0px;
    display: grid;
    width: 1300px;
    grid-template-columns: repeat(6,1fr);
  }

nav {
  background-color: #AF479A;
  grid-column: span 6;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 35px;
  color: #EECEE7;

}

nav li {
  display: inline-block;
  width: 230px;
  font-size: 35px;

}

nav li a {
  width: 170px;
  text-decoration: none;
  color: #EECEE7;
  font-size: 25px;
  margin: 0 0 0 40px;
}

nav li a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #FEEAD6;
}

h1 {
  color: #AF479A;
  grid-column: span 4;
  margin: 60px 85px 10px 85px;
  padding: 60px;
  font-size: 55px;
  text-align: center;
  font-weight: normal;
}

h2 {
  color: #AF479A;
}

.floatingL {
  float: left;
  margin: 40px 20px 10px 0;
  grid-column: span 2;
}
main {
  grid-column: span 6;
  width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
