body {
  background-color: #EECEE7;
    font-family: 'Arvo';

}

.wrapper{
  margin: 1em auto;
    padding: 0px;
    display: grid;
    width: 1300px;
    grid-template-columns: repeat(6,1fr);
  }

nav {
  position:absolute; left:0;
  position:absolute; top:0;
  position:absolute; right: 0;
  background-color: #AF479A;
  grid-column: span 6;
  position: fixed;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 35px;
  color: #EECEE7;

}

nav li {
  display: inline-block;
  width: 230px;

}

.onpage {
  font-weight: bold;
}
 .name {
   font-size: 25px;
   margin-bottom: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000a; /* x, y, blur, color */
 }

nav li a {
  width: 170px;
  text-decoration: none;
  color: #EECEE7;
  font-size: 25px;
  margin: 0 0 0 40px;
  font-size: 20px
}

nav li a:hover {

  font-weight: bold;
  color: #FEEAD6;
}

.fixthis {
  padding-top: 150px;
  grid-column: span 6;
}
h1 {
  color: #AF479A;
  grid-column: span 4;
  margin: 0;
  padding-top: 100px;
  font-size: 55px;
  text-align: center;
  font-weight: normal;
 text-shadow: 3px 3px 5px #FFFFFF;
}
.h1notmain {
  grid-column: span 6;
  padding-top: 120px;
  padding-bottom: 20px;
}

h2 {
  color: #AF479A;
 font-weight: bold;
 text-shadow: 2px 2px 2px #FFFFFF;
 padding: 10px 80px 0 0px;
}

.floatingL {
  float: left;
  margin: 0px 20px 60px 0;
  padding-right: 60px;
  grid-column: span 2;
}
.mainhome {
  grid-column: span 6;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mainabout {
  grid-column: span 6;
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.floatingR {
  float: right;
  margin: 40px;
  padding-left: 0;
  grid-column: span 3;
}

.aboutbox1 {
  width: 320px;
 padding: 10px 40px 10px 40px;
 margin: 20px 0 20px 0;
grid-column: span 3;
background-color: #FEEAD6;
border: 2px solid  #AF479A;

}

.spotifymusic {
  grid-column: span 3;
}

.Lmusic {
  grid-column: span 3;
}
h3 {
  color: #AF479A;
  font-style: italic;
}
h4 {
  color:  #AF479A;
  font-weight: bold;
}

 p {
   color: #AF479A;
 }
 .Lbox {
  grid-column: span 3;
 }

 .Rbox {
  grid-column: span 3;
 }

 .boxes {
   grid-column: span 6;
   width: 1000px;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
/* ask him about this too, buttons for the projects*/
.githubctk {
  grid-column: span 6;
  text-align: center;
  font-size: 30px;
}
 h4 a {
   text-decoration: none;
   color: #AF479A;
 }
 h4 a:hover {
   color:#FEEAD6;
    text-shadow: 2px 2px 2px #000a;
 }
main ul{
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column: span 6;
}
main ul li {
  background: linear-gradient(280deg, rgba(238,174,202,1) 0%, rgba(175,71,154,1) 100%);
  margin: 0px;
  padding: 0px;
  width: 200px;
  display: inline-block;
  border: 2px solid #AF479A;
  text-align: center;
}

main ul li a {
 color: #FEEAD6;
 text-decoration: none;
 display: block;
 padding: 15px;
}
main li a:hover {
 background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(175,71,154,1) 100%);
}

.ctkL {
  grid-column: span 6;
  text-align: center;
}
.ctkbuttons {
  grid-column: span 6;
  text-align: center;
}
.ctkbuttons a {
border: 2px solid #AF479A;
width: 175px;
  color: #FEEAD6;
  text-decoration: none;
  display: block;
  padding: 15px;
  background: linear-gradient(280deg, rgba(238,174,202,1) 0%, rgba(175,71,154,1) 100%);

}

.ctkbuttons a:hover {
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(175,71,154,1) 100%);
}

#center {
  grid-column: span 6;
  text-align: center;
}
