body {
  background-image: url(tile.jpg);
}

.textsans {
  font-family: Helvetica, sans-serif;
}

.centertext {
  text-align: center;
}

.textjustify {
  text-align: justify;
}

h1 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h2 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h3 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h4 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

h5 {
  color: orange;
  font-style: italic;
  font-weight: normal;
}

.imagebox {
  border: 10px solid #000000;
  margin: 20px;
  padding: 20px;
  background-color: white;
}
